{% extends 'new_base.html' %}
{% load static %}


{% block title %}
{% endblock title %}


{% block body %}
      <h1>Update Password</h1>
    <br>
    <br>
    <form method="POST" action="{% url 'passowrd_change_link' %}">
        {% csrf_token %}
          {% if form.errors  %}
              <div class="alert alert-warning">
                {% for field in form %}
                    {% if form.errors %}
                            {{ field.errors }}
                    {% endif %}
                {% endfor %}
                  <button class="close" data-bs-dismiss="alert">
                      <small><sup>x</sup></small>
                  </button>
              </div>
          {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Update Passsword" class="btn btn-dark">
    </form>




{% endblock body %}