{% extends 'new_base.html' %}
{% load static %}

{% block title %}

{% endblock title %}


{% block body %}




    <div class="row"style="transition-duration: .1000s">
    {% load static %}

            {% for items in data %}

                <div class="col-sm-3" >
                    <div class="card p-3" style="width: 20rem;">
                      <img class="card-img-top" src="{{ items.main_photo.url }}" style="
                            height:300px;
                            width:300px;
                            object-fit: cover">
                      <div class="card-body">
                          <h5 class="card-title">{{ items.product_name | slice:":20" }}</h5>
                          <p class="card-text">{{ items.product_description | slice:":50" }}</p>
                          <hr class="my-4">
                          <a>posted By {{ items.author.username }}</a><br>
                          {% if user.is_authenticated %}
                              {% if items.author.id == user.id %}
                                <a href="{% url 'edit_product_link' items.pk %}" class="btn btn-outline-dark btn-sm">Edit</a>
                                <a href="{% url 'delete_product_link' items.pk %}" class="btn btn-outline-dark btn-sm">Delete</a>
                              {% endif %}
                          {% endif %}
                            <a href="{% url 'singe_product_view_link' items.pk %}" class="btn btn-outline-dark btn-sm">View</a>

                      </div>
                    </div>
                </div>
                <br>

            {% endfor %}







    </div>


    {% load static %}




{% endblock body %}
